.subscription-page.body *,
.subscription-page.body *:before,
.subscription-page.body *:after {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.react-multiple-carousel__arrow::before{
  font-family: revicons !important;
}
.subscription-page.body {
  margin: 0;
  padding: 0;
  background: #eff0f1;
  min-width: 360px;
}
.mx-659{
  max-width: 659px;
  margin-left: auto !important;
  margin-right: auto !important;
}
.subscription-page .header-m {
  position: relative;
  top: 0;
  width: 100%;
  padding: 16px 32px;
  background: #eff0f1;
  z-index: 1;
}

.subscription-page .header-m * {
  font-family: "Helvetica";
}

.subscription-page .header-m .logo {
  display: block;
}

.subscription-page .header-m nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscription-page .header-m ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.subscription-page .header-m nav.active ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: baseline;
  position: absolute;
  top: 68px;
  right: 10px;
  animation: slideIn 0.4s;
}

.subscription-page .product-btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px 0px 12px;
  gap: 8px;
  width: 171.09px;
  height: 45px;
  border: 0.583475px solid #ff6154;
  border-radius: 12px;
  transition: background 0.4s;
}

.subscription-page .product-btn span {
  width: 26px;

  height: 26px;

  display: flex;

  align-items: center;

  justify-content: center;

  font-size: 12px;

  color: white;

  background: #ff6154;

  border-radius: 50%;
  transition: background 0.4s;
}

.subscription-page .product-btn div {
  display: flex;

  flex-direction: column;

  justify-content: space-between;

  align-content: space-between;
}

.subscription-page .product-btn p {
  font-style: normal;

  font-weight: 700;

  font-size: 7.25px;

  line-height: 8px;

  color: #ff6154;

  margin: 0;
}

.subscription-page .product-btn b {
  font-style: normal;

  font-weight: 700;

  font-size: 16.34px;

  line-height: 19px;

  color: #ff6154;
}
.subscription-page .product-btn:hover,
.subscription-page .product-btn:active,
.subscription-page .product-btn:focus {
  background: #ff6154;
}
.subscription-page .product-btn:hover *,
.subscription-page .product-btn:active *,
.subscription-page .product-btn:focus * {
  color: white;
}

.subscription-page .product-btn:hover span,
.subscription-page .product-btn:active span,
.subscription-page .product-btn:focus span {
  background: white;
  color: #ff6154;
}

.subscription-page .violet-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 212px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background: linear-gradient(180deg, #be5bf3 0%, #812fac 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.4s;
}
.subscription-page .violet-btn:hover,
.subscription-page .violet-btn:focus,
.subscription-page .violet-btn:active {
  background: #be5bf3;
  border-color: #be5bf3;
  color: white;
  -webkit-text-fill-color: unset;
}
.subscription-page nav.active .violet-btn {
  width: 171px;
  font-size: 14px;
}

.subscription-page .menu-toggle {
  text-decoration: none;
  background: transparent;
  padding: 0;
  border: 0;
  width: 25px;
  height: 16px;
  position: relative;
  display: none;
}

.subscription-page .menu-toggle span {
  width: 100%;
  height: 3px;
  background: black;
  display: block;
  border-radius: 5px;
}

.subscription-page .menu-toggle span:nth-of-type(1) {
  position: absolute;
  top: 0;
  transition: transform 0.4s;
}

.subscription-page .menu-toggle span:nth-of-type(2) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.4s;
}

.subscription-page .menu-toggle span:nth-of-type(3) {
  position: absolute;
  bottom: 0;
  transition: transform 0.4s;
}

.subscription-page nav.active .menu-toggle span:nth-of-type(1) {
  transform: rotate(-32deg);
  transform-origin: top right;
}

.subscription-page nav.active .menu-toggle span:nth-of-type(2) {
  opacity: 0;
}

.subscription-page nav.active .menu-toggle span:nth-of-type(3) {
  transform: rotate(32deg);
  transform-origin: bottom right;
}

@media screen and (max-width: 767px) {
  .subscription-page .header-m {
    padding: 20px 20px;
  }
 
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
}

.subscription-page .container {
  padding: 0 30px;
  padding-bottom: 150px;
  width:100%;
}

.subscription-page .container > * {
  max-width: 967px;
  margin: auto;
}

.subscription-page .sup-title {
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -1px;
  color: #151b26;
  margin: 0 0 24px 0;
}
.subscription-page .title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: #151b26;
  text-align: center;
  margin: 0 0 24px 0;
}

.subscription-page .subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1px;
  margin-bottom: 10px;
  color: #151b26;
  text-align: center;
  margin: 0;
}

.subscription-page .sup-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin: 0 0 16px 0;
}
.sup-text span{
  opacity: 50%;
}
.subscription-page .text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #717272;
  text-align: center;
  margin: 0;
  text-align: center;
}

.subscription-page .small-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #717272;
  margin: 0;
}
.subscription-page .mb-64 {
  margin-bottom: 64px;
}
.subscription-page .mt-64 {
  margin-top: 64px;
}
.subscription-page .violet-fill-btn {
  cursor: pointer;
  display: block;
  height: 64px;

  background: linear-gradient(180deg, #be5bf3 0%, #812fac 100%);
  box-shadow: 0px 11px 23px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 0 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  border: 1px solid #be5bf3;
  margin: 0 auto 20px auto;
  transition: color 0.4s;
}
.subscription-page .violet-fill-btn:hover{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #BE5BF3 0%, #812FAC 100%);
box-shadow: 0px 11px 23px rgba(0, 0, 0, 0.15);
}
.subscription-page .violet-fill-btn:focus,
.subscription-page .violet-fill-btn:active {
  background: linear-gradient(180deg, #BE5BF3 0%, #812FAC 100%);

  box-shadow: 0px 11px 23px rgba(0, 0, 0, 0.15);
}
.radius{
  border-radius: 24px;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .subscription-page .container {
    padding: 0 20px;
    padding-bottom: 80px;
  }
  .subscription-page .sup-title {
    font-size: 52px;
  }
  .subscription-page .title {
    font-size: 48px;
  }
  .subscription-page .sup-text {
    font-size: 20px;
  }
  .subscription-page .text {
    font-size: 18px;
  }
  .subscription-page .violet-fill-btn {
    font-size: 22px;
    font-weight: 600;
  }
  .subscription-page .subtitle {
    font-size: 36px;
  }
}

@media screen and (max-width: 767px) {
  .subscription-page .container {
    padding-bottom: 40px;
  }
  .subscription-page .mb-64 {
    margin-bottom: 24px;
  }
  .subscription-page .mt-64 {
    margin-top: 24px;
  }
  
}
/* banner section */
.subscription-page .unlimited-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #be5bf3;
  width: fit-content;
  display: flex;
  gap: 8px;
  margin: 0 auto 24px auto;
}
.subscription-page .banner .text {
  margin-bottom: 55px;
}
.subscription-page .unlimited-title span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 24px;
  border-radius: 6px;

  background: linear-gradient(180deg, #be5bf3 0%, #812fac 100%);
}

.subscription-page section.banner {
  padding-top: 150px;
  padding-bottom: 55px;
}
@media screen and (max-width: 767px) {
  .subscription-page section.banner {
    padding-top: 50px;
    padding-bottom: 55px;
  }
  
}

/* images slider  */
.subscription-page .imgs-slider {
  padding: 0 20px;
}
.subscription-page .imgs-slider .react-multi-carousel-track::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #EFF0F1 0%, rgba(255, 255, 255, 0) 100%)
}
.subscription-page .imgs-slider .react-multi-carousel-item img {
  width: 100%;
}
.subscription-page .imgs-slider .react-multiple-carousel__arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  background: #151b26;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  position: absolute;

  bottom: 30px;
  min-width: auto;
  min-height: auto;
  z-index: 0;
}
.subscription-page .imgs-slider .react-multiple-carousel__arrow--left {
  right: 50%;
  left: auto;
  transform: translateX(-150px);
}

.subscription-page .imgs-slider .react-multiple-carousel__arrow--right {
  left: 50%;
  right: auto;
  transform: translateX(150px);
}

.subscription-page .imgs-slider .react-multi-carousel-dot-list li {
  width: 280px;
  height: 33px;
  background: #151b26;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  transition: opacity 0.4s;
}

.subscription-page .imgs-slider .react-multi-carousel-dot-list li.active {
  opacity: 1;
  z-index: 1;
}
.subscription-page .imgs-slider .react-multi-carousel-dot-list li.inactive {
  opacity: 0;
}
@media screen and (max-width: 767px) {
  .subscription-page .imgs-slider .react-multi-carousel-item img {
    height: 300px;
    width: auto;
  }
}
@media screen and (max-width: 576px) {
  .subscription-page .imgs-slider .react-multi-carousel-dot-list li {
    width: 210px;
    font-size: 12px;
  }
  .subscription-page .imgs-slider .react-multiple-carousel__arrow--left {
    transform: translateX(-115px);
  }

  .subscription-page .imgs-slider .react-multiple-carousel__arrow--right {
    transform: translateX(115px);
  }
}

/* logos list */
.subscription-page section.logos {
  margin-top: 150px;
}
.subscription-page .logos-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.featured-logo {
  width: 150px;
  height: auto;
}
@media screen and (max-width: 991px) {
  .subscription-page section.logos {
    margin-top: 80px;
  }
}
@media screen and (max-width: 767px) {
  .subscription-page section.logos {
    margin-top: 40px;
  }
  .subscription-page .logos-list {
    margin-top: 20px;
  }
}

/* questions slider */
.subscription-page section.question .subtitle {
  margin-bottom: 8px;
}
.subscription-page .question-slider {
  max-width: 718px;
  height: 373px;
  margin: auto;
  background: #e9eaeb;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.15);
  border-radius: 48px;
  margin-top: 38px;
}
.subscription-page .question-slider .question-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 55px 115px;

  max-width: 718px;
  height: 373px;
}

.subscription-page .question-slider .question-box span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #717272;
  margin-bottom: 8px;
}
.subscription-page .question-slider .question-box-last h3,
.subscription-page .question-slider .question-box h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: #151b26;
  margin: 0;
  margin-bottom: 40px;
}
.subscription-page .question-slider .question-box button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 10px;

  width: 100%;
  min-height: 55.5px;

  border: 1px solid #cacbcc;
  border-radius: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  background: #e9eaeb;
  transition: background 0.4s;
}
.subscription-page .question-slider .question-box button:hover,
.subscription-page .question-slider .question-box button:focus,
.subscription-page .question-slider .question-box button:active {
  background: #eff0f1;
}
.subscription-page .question-slider .question-box button:nth-last-of-type(1) {
  margin-top: 16px;
}
.subscription-page .question-slider .react-multiple-carousel__arrow--left:focus,
.subscription-page
  .question-slider
  .react-multiple-carousel__arrow--left:active,
.subscription-page .question-slider .react-multiple-carousel__arrow--left {
  background: transparent;
}
.subscription-page
  .question-slider
  .react-multiple-carousel__arrow--left::before {
  color: grey;
}
.subscription-page .question-slider .question-box-last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 55px 115px;

  max-width: 718px;
  height: 373px;
  background: #151b26;
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.15);
  border-radius: 48px;
}
.subscription-page .question-slider .question-box-last > * {
  color: white !important;
}
.subscription-page .question-slider .question-box-last button {
  margin: 0;
}
.subscription-page .question-slider .question-box-last .small-text {
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .subscription-page .question-slider .react-multiple-carousel__arrow--left {
    transform: translateY(-35px);
  }
  .subscription-page .question-slider .question-box {
    padding: 35px 20px;
    height: 300px;
  }
  .subscription-page .question-slider {
    height: 300px;
    border-radius: 20px;
  }
  .subscription-page .question-slider .question-box-last h3,
  .subscription-page .question-slider .question-box h3 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .subscription-page .question-slider .question-box-last {
    border-radius: 20px;
    padding: 35px 20px;
    height: 300px;
  }
}

/* offers */
.subscription-page section.offers {
  background: linear-gradient(180deg, #be5bf3 0%, #48076a 100%);
  padding-top: 150px;
}
.subscription-page .offer-text {
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -1px;
  color: #e4b3ff;
  margin-top: 0;
}

.subscription-page .offers h2 {
  color: #ffffff;
}

.subscription-page .offer-div {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
  align-items: center;
}
.subscription-page section.offers .bottom {
  margin-top: 130px;
}
.subscription-page section.offers .bottom {
  opacity: 0.3;
}
.subscription-page .offer-sub-div .sup-text {
  max-width: 417px;
  text-align: left;
}

.subscription-page .offer-sub-div .sup-text span {
  font-weight: 700;
}
.subscription-page section.offers .sup-title {
  color: #fff;
}

.subscription-page .offer-light-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  opacity: 0.3;
  max-width: 994px;
}
@media screen and (max-width: 991px) {
  .subscription-page section.offers {
    padding-top: 80px;
  }
  .subscription-page .offer-div {
    flex-direction: column;
    margin-top: 80px;
  }
  .subscription-page section.offers .bottom {
    margin-top: 80px;
  }
  .subscription-page .offer-div:nth-of-type(2) {
    flex-direction: column-reverse;
  }
  .subscription-page .offer-div > * {
    width: 100%;
  }
  .subscription-page .offer-sub-div .sup-text {
    margin: auto;
    text-align: center;
  }
  .subscription-page .offer-div > img {
    max-width: 380px;
    margin-top: 20px;
  }

  .subscription-page .offer-sub-div .sup-text span {
    font-weight: 600;
  }
  .subscription-page .offer-light-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .subscription-page section.offers {
    padding-top: 40px;
  }
  .subscription-page .offer-div {
    margin-top: 40px;
  }
  .subscription-page section.offers .bottom {
    margin-top: 40px;
  }
}

/* testimonial section */
.subscription-page .testimonial-slider {
  padding: 150px 0;
}
.subscription-page .testimonial-slider .subtitle {
  margin-bottom: 40px;
}
.subscription-page .testimonial-slider .react-multi-carousel-track {
  gap: 20px;
}
.subscription-page .testimonial-slider .react-multi-carousel-track li {
  width: 400px !important;
}
.subscription-page .testimonial {
  width: 400px;
  height: auto;
  background: #e9eaeb;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  padding: 48px;
}
.subscription-page .testimonial h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #151b26;
  margin-top: 0;
  margin-bottom: 40px;
}
.subscription-page .testimonial h2 span {
  color: #a94cda;
  font-weight: 700;
}
.subscription-page .testimonial p {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #151b26;
}
@media screen and (max-width: 991px) {
  .subscription-page .testimonial-slider {
    padding: 80px 0;
  }
}
@media screen and (max-width: 767px) {
  .subscription-page .testimonial-slider {
    padding: 40px 0;
  }
  .subscription-page .testimonial-slider .subtitle {
    margin-bottom: 20px;
  }
  .subscription-page .testimonial {
    width: 320px;
    height: 250px;
    padding: 24px 20px;
  }
  .subscription-page .testimonial-slider .react-multi-carousel-track li {
    width: 320px !important;
  }
  .subscription-page .testimonial h2 {
    font-size: 17px;
    margin-bottom: 20px;
  }
  .subscription-page .testimonial p {
    font-size: 16px;
  }
}

/* section 5 */
.subscription-page .star-p {
  background: #151b26;
  color: #fff;
  padding: 64px;
  border-radius: 48px;
  max-width: 967px;
  margin: auto;
  overflow: hidden;
}
.subscription-page .star-p .text , .subscription-page .star-p .sup-text{
  text-align: left;
}
.subscription-page .star-p .star{
  width: 40px;
  margin-bottom: 30px;
}
.subscription-page .star-p hr{
  width: 200%;
  background: white;
  height: 1px;
  border: 0;
  margin: 0;
  padding: 0;
  opacity: 0.1;
  margin-left: -100px;
  margin-right: -100px;
}
.subscription-page .star-p .img {
  position: relative;
}
.subscription-page .star-p .img::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    0deg,
    #151b26 0%,
    rgba(255, 255, 255, 0) 90%,
    rgba(255, 255, 255, 0) 100%
  );
}
.subscription-page .top-h {
  text-align: center;
}

.subscription-page .top-h span {
  height: 40px;
  width: 40px;
}

.subscription-page .top-h h2 {
  color: white;
}

.subscription-page .coller-2 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.subscription-page .coller-2 .img img {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 318px;
}
.subscription-page .txt {
  max-width: 400px;
}

@media screen and (max-width: 767px) {
  .subscription-page .star-p {
    padding: 24px;
  }
  .subscription-page .star-p .star{
    margin-bottom: 20px;
  }
  .subscription-page .coller-2 {
    flex-direction: column;
  }
  .subscription-page .coller-2:nth-of-type(1) {
    flex-direction: column-reverse;
  }
  .subscription-page .coller-2 > * {
    width: 100%;
    max-width: none;
  }
  .subscription-page .coller-2 .txt * {
    text-align: center;
  }
}

/* Section 6 */

.subscription-page section.easy .sup-title {
  opacity: 0.3;
}
.subscription-page .no-bg-btn {
  margin: auto;
  display: block;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #717272;
  padding: 4px 10px;
  border-radius: 50px;
  border: 1px solid gainsboro;
  max-width: fit-content;
}

/* .footer-m */
.subscription-page .footer-m {
  background-color: #ffffff;
  min-height: 41px;
  font-family: "Inter";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.68px;
  color: #717272;
}

.subscription-page .footer-m img {
  width: 14.4px;
  /* height: 14.4px; */
}

.subscription-page .footer-div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.subscription-page .footer-m a,
.subscription-page .footer-m p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 139%;

  color: #717272;
}
.subscription-page .footer-m .pages {
  display: flex;
}
.subscription-page .footer-m .pages a {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #717272;
  padding-left: 8px;
  margin-left: 8px;
  position: relative;
}
.subscription-page .footer-m .pages a::before {
  content: "";
  display: block;
  width: 1px;
  height: 16px;
  background: #717272;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 1000px) {
  .subscription-page .footer-m {
    flex-direction: column;
  }
}
@media screen and (max-width: 576px) {
  .subscription-page .footer-div2 {
    flex-direction: column;
  }
  .subscription-page .footer-m .pages a {
    padding-left: 4px;
    margin-left: 4px;
  }
  .subscription-page .footer-m .pages a:nth-of-type(1) {
    padding-left: 0;
    margin-left: 0;
  }
  .subscription-page .footer-m .pages a:nth-of-type(1)::before {
    display: none;
    padding: 12px 16px;
  }
}
