*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #EFF0F1;
  min-width: 360px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px 32px;
  background: #EFF0F1;
  z-index: 1;
}

header * {
  font-family: "Helvetica";
}

header .logo {
  display: block;
}

header .logo img {}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

header nav.active ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: baseline;
  position: absolute;
  top: 68px;
  right: 10px;
  animation: slideIn 0.4s;
}

header ul li {}

header ul li a {}

.product-btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px 0px 12px;
  gap: 8px;
  width: 171.09px;
  height: 45px;
  border: 0.583475px solid #ff6154;
  border-radius: 12px;
  transition: background 0.4s;
}

.product-btn span {
  width: 26px;

  height: 26px;

  display: flex;

  align-items: center;

  justify-content: center;

  font-size: 12px;

  color: white;

  background: #ff6154;

  border-radius: 50%;
  transition: background 0.4s;
}

.product-btn div {
  display: flex;

  flex-direction: column;

  justify-content: space-between;

  align-content: space-between;
}

.product-btn p {
  font-style: normal;

  font-weight: 700;

  font-size: 7.25px;

  line-height: 8px;

  color: #ff6154;

  margin: 0;
}

.product-btn b {
  font-style: normal;

  font-weight: 700;

  font-size: 16.34px;

  line-height: 19px;

  color: #ff6154;
}
.product-btn:hover,
.product-btn:active,
.product-btn:focus{
  background: #ff6154;

}
.product-btn:hover *,
.product-btn:active *,
.product-btn:focus *{
  color: white;
}

.product-btn:hover span,
.product-btn:active span,
.product-btn:focus span{
  background: white;
  color: #ff6154;
}

.violet-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 212px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background: linear-gradient(180deg, #be5bf3 0%, #812fac 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.4s;
}
.violet-btn:hover,
.violet-btn:focus,
.violet-btn:active{
  background: #be5bf3;
  border-color: #be5bf3;
  color: white;
  -webkit-text-fill-color: unset;
}
nav.active .violet-btn {
  width: 171px;
  font-size: 14px;
}

.menu-toggle {
  text-decoration: none;
  background: transparent;
  padding: 0;
  border: 0;
  width: 25px;
  height: 16px;
  position: relative;
  display: none;
}

.menu-toggle span {
  width: 100%;
  height: 3px;
  background: black;
  display: block;
  border-radius: 5px;
}

.menu-toggle span:nth-of-type(1) {
  position: absolute;
  top: 0;
  transition: transform 0.4s;
}

.menu-toggle span:nth-of-type(2) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.4s;
}

.menu-toggle span:nth-of-type(3) {
  position: absolute;
  bottom: 0;
  transition: transform 0.4s;
}

nav.active .menu-toggle span:nth-of-type(1) {
  transform: rotate(-32deg);
  transform-origin: top right;
}

nav.active .menu-toggle span:nth-of-type(2) {
  opacity: 0;
}

nav.active .menu-toggle span:nth-of-type(3) {
  transform: rotate(32deg);
  transform-origin: bottom right;
}

@media screen and (max-width: 767px) {
  .header{
    padding: 20px 20px;
  }
  .menu-toggle {
    display: block;
  }

  header ul {
    display: none;
    background: #e5e5e5;
    border-radius: 5px;
    box-shadow: 0px 11px 23px rgba(0, 0, 0, 0.15);
    padding: 10px;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
}

.container {
  padding: 0 30px;
  padding-bottom: 150px;
}

.container>* {
  max-width: 967px;
  margin: auto;
}


.sup-title{
  font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 110%;
text-align: center;
letter-spacing: -1px;
color: #151B26;
margin: 0 0 24px 0;
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: #151b26;
  text-align: center;
  margin: 0 0 50px 0;
}

.subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1px;
  margin-bottom: 10px;
  color: #151B26;
  text-align: center;
  margin: 0;
}

.sup-text{
  font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
text-align: center;
color: #FFFFFF;
margin: 0 0 16px 0;
}
.text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #717272;
  text-align: center;
  margin: 0;
  text-align: center;
}

.small-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #717272;
  margin: 0;
}
.mb-64{
  margin-bottom: 64px;
}
.mt-64{
  margin-top: 64px;
}
.violet-fill-btn {
  cursor: pointer;
  display: block;
  height: 64px;

  background: linear-gradient(180deg, #BE5BF3 0%, #812FAC 100%);
  box-shadow: 0px 11px 23px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 0 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #BE5BF3;
  margin: 0 auto 20px auto;
  transition: color 0.4s;
}
.violet-fill-btn:hover,
.violet-fill-btn:focus,
.violet-fill-btn:active{
  background: transparent;
  color: #be5bf3;
}

@media screen and (max-width: 991px) {
  .container {
    padding: 0 20px;
    padding-bottom: 80px;
  }
  .sup-title{
    font-size: 52px;
  }
  .title{
    font-size: 48px;
  }
  .sup-text{
    font-size: 20px;
  }
  .text{
    font-size: 18px;
  }
  .violet-fill-btn{
    font-size: 22px;
    font-weight: 600;
  }
  .subtitle{
    font-size: 36px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-bottom: 40px;
  }
  .mb-64{
    margin-bottom: 24px;
  }
  .mt-64{
    margin-top: 24px;
  }
}
/* banner section */
.unlimited-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #be5bf3;
  width: fit-content;
  display: flex;
  gap: 8px;
  margin: 0 auto 24px auto;
}
.banner .text{
  margin-bottom: 55px;
}
.unlimited-title span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 24px;
  border-radius: 6px;

  background: linear-gradient(180deg, #be5bf3 0%, #812fac 100%);
}

section.banner {
  padding-top: 150px;
  padding-bottom: 55px;
}




/* images slider  */
.imgs-slider{
  padding: 0 20px;
}
.imgs-slider>*{

}
.imgs-slider .react-multi-carousel-track::after {
content: "";
display: block;
width: 100%;
height: 100%;
position: absolute;
left: 0;
top: 0;
background: linear-gradient(180deg, #E5E5E5 0%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 100%);
}
.imgs-slider .react-multi-carousel-item .img{

}
.imgs-slider .react-multi-carousel-item img{
  width: 100%;
  
}
.imgs-slider .react-multiple-carousel__arrow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  background: #151B26;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  position: absolute;
  
  bottom: 30px;
  min-width: auto;
  min-height: auto;
  z-index: 0;

}
.imgs-slider .react-multiple-carousel__arrow--left{
  right: 50%;
  left: auto;
  transform: translateX(-150px);
}

.imgs-slider .react-multiple-carousel__arrow--right{
  left: 50%;
  right: auto;
  transform: translateX(150px);
}

.imgs-slider  .react-multi-carousel-dot-list{

}

.imgs-slider  .react-multi-carousel-dot-list li{
  width: 280px;
  height: 33px;
  background: #151B26;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
text-align: center;
color: #FFFFFF;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
bottom: 30px;
transition: opacity 0.4s;
}

.imgs-slider  .react-multi-carousel-dot-list li.active{
opacity: 1;
z-index: 1;
}
.imgs-slider  .react-multi-carousel-dot-list li.inactive{
opacity: 0;
}
@media screen and (max-width: 767px) {
  .imgs-slider .react-multi-carousel-item img{
    height: 300px;
    width: auto;
  }
}
@media screen and (max-width: 576px) {
  .imgs-slider  .react-multi-carousel-dot-list li{
    width: 210px;
    font-size: 12px;
  }
  .imgs-slider .react-multiple-carousel__arrow--left{
    transform: translateX(-115px);
  }
  
  .imgs-slider .react-multiple-carousel__arrow--right{
    transform: translateX(115px);
  }
}


/* logos list */
section.logos{
 margin-top: 150px;
}
.logos-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
@media screen and (max-width: 991px) {
  section.logos{
    margin-top: 80px;
  }
}
@media screen and (max-width: 767px) {
  section.logos{
    margin-top: 40px;
  }
  .logos-list {
    margin-top: 20px;
  }
}

/* questions slider */
section.question .subtitle{
  margin-bottom: 8px;
}
.question-slider{
  max-width: 718px;
  height: 373px;
  margin: auto;
  background: #E9EAEB;
border-bottom: 2px solid rgba(255, 255, 255, 0.5);
box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.15);
border-radius: 48px;
margin-top: 38px;
}
.question-slider .question-box{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 55px 115px;

max-width: 718px;
height: 373px;

}

.question-slider .question-box span{
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #717272;
margin-bottom: 8px;
}
.question-slider .question-box-last h3,
.question-slider .question-box h3{
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: #151B26;
  margin: 0;
  margin-bottom: 40px;
}
.question-slider .question-box button{
  cursor: pointer;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 6px 16px;
gap: 10px;

width: 100%;
min-height: 55.5px;

border: 1px solid #CACBCC;
border-radius: 15px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
text-align: center;
color: #000000;
background: #E9EAEB;
transition: background 0.4s;
}
.question-slider .question-box button:hover,
.question-slider .question-box button:focus,
.question-slider .question-box button:active{
background: #EFF0F1;
}
.question-slider .question-box button:nth-last-of-type(1){
  margin-top: 16px;
}
.question-slider .react-multiple-carousel__arrow--left:focus,
.question-slider .react-multiple-carousel__arrow--left:active,
.question-slider .react-multiple-carousel__arrow--left{
  background: transparent;
}
.question-slider .react-multiple-carousel__arrow--left::before{

  color: grey;
}
.question-slider .question-box-last{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 55px 115px;
  
  max-width: 718px;
  height: 373px;
  background: #151B26;
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.15);
border-radius: 48px;
}
.question-slider .question-box-last>*{
  color: white !important;
}
.question-slider .question-box-last button{
  margin: 0;
}
.question-slider .question-box-last h3{

}
.question-slider .question-box-last .small-text{
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .question-slider .react-multiple-carousel__arrow--left{
    transform: translateY(-35px);
  }
  .question-slider .question-box{
    padding: 35px 20px;
    height: 300px;
  }
  .question-slider{
    height: 300px;
    border-radius: 20px;
  }
  .question-slider .question-box-last h3,
  .question-slider .question-box h3{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .question-slider .question-box-last{
border-radius: 20px;
padding: 35px 20px;
    height: 300px;
  }
}

/* offers */
section.offers {
  background: linear-gradient(180deg, #BE5BF3 0%, #48076A 100%);
  padding-top: 150px;
}

.offer-text {
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -1px;
  color: #E4B3FF;
  margin-top: 0;
}

.offers h2 {
  color: #FFFFFF;
}

.offer-div {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
  align-items: center;
}
section.offers .bottom{
  margin-top: 130px;
}
section.offers .bottom{
  opacity: 0.3;
}
.offer-sub-div .sup-text {
  max-width: 417px;
  text-align: left;
}

.offer-sub-div .sup-text span {
  font-weight: 700;
}
section.offers .sup-title{
  color: #fff;
}


.offer-light-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.3;
  max-width: 994px;
}
@media screen and (max-width:991px) {
  section.offers{
    padding-top: 80px;
  }
  .offer-div{
    flex-direction: column;
    margin-top: 80px;
  }
  section.offers .bottom{
    margin-top: 80px;
  }
  .offer-div:nth-of-type(2){
    flex-direction: column-reverse;
  }
  .offer-div>*{
    width: 100%;
  }
  .offer-sub-div .sup-text{
    margin: auto;
    text-align: center;
  }
  .offer-div>img{
   max-width: 380px; 
   margin-top: 20px;
  }
 
  .offer-sub-div .sup-text span{
font-weight: 600;
  }
  .offer-light-text{
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  section.offers{
    padding-top: 40px;
  }
  .offer-div{
    margin-top: 40px;
  }
  section.offers .bottom{
    margin-top: 40px;
  }
}



/* testimonial section */
.testimonial-slider{
  padding: 150px 0;
}
.testimonial-slider .subtitle{
  margin-bottom: 40px;
}
.testimonial-slider .react-multi-carousel-track{
gap: 20px;

}
.testimonial-slider .react-multi-carousel-track li{
  width: 400px !important;
}
.testimonial{
  width: 400px;
height: 376px;
  background: #E9EAEB;
border-bottom: 2px solid rgba(255, 255, 255, 0.5);
box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.15);
border-radius: 24px;
padding: 48px;
}
.testimonial h2{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #151B26;
  margin-top: 0;
  margin-bottom: 40px;
}
.testimonial h2 span{
  color: #A94CDA;
  font-weight: 700;
}
.testimonial p{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #151B26;
}
@media screen and (max-width: 991px) {
  .testimonial-slider{
    padding: 80px 0;
  }
}
@media screen and (max-width: 767px) {
  .testimonial-slider{
    padding: 40px 0;
  }
  .testimonial-slider .subtitle{
    margin-bottom: 20px;
  }
  .testimonial{
    width: 320px;
    height: 250px;
    padding: 24px 20px;
  }
  .testimonial-slider .react-multi-carousel-track li{
    width: 320px !important;
  }
  .testimonial h2{
    font-size: 17px;
    margin-bottom: 20px;
  }
  .testimonial p{
    font-size: 16px;
  }
}



/* section 5 */
.star-p {
  background: #151B26;
  color: #fff;
  padding: 64px;
  border-radius: 48px;
  max-width: 967px;
  margin: auto;
}
.star-p .img{
  position: relative;
}
.star-p .img::after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(0deg, #151B26 0%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);

}
.top-h {
  text-align: center;
}

.top-h span {
  height: 40px;
  width: 40px;
}

.top-h h2 {
 color: white;
 margin-bottom: 64px;
}


.coller-2 {
  display: flex;
  justify-content: space-between;
  gap: 20px
}
.coller-2:nth-of-type(1){
  margin-bottom: 64px;
}
.coller-2 .img img{
  margin: auto;
  display: block;
  width: 100%;
  max-width: 318px;
}
.txt {
  max-width: 400px;
}



@media screen and (max-width: 767px) {
  .star-p{
    padding: 24px;
  }
  .top-h h2 {
    margin-bottom: 24px;
  }
  .coller-2{
    flex-direction: column;
  }
  .coller-2:nth-of-type(1){
    flex-direction: column-reverse;
  }
  .coller-2>*{
    width: 100%;
    max-width: none;
  }
  .coller-2 .txt *{
    text-align: center;
  }
  .coller-2:nth-of-type(1){
    margin-bottom: 24px;
  }
}

/* Section 6 */

section.easy .sup-title{
  opacity: 0.3;
}
.no-bg-btn {
  margin: auto;
  display: block;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #717272;
  padding: 4px 10px;
  border-radius: 50px;
  border: 1px solid gainsboro;
  max-width: fit-content;
}



@media screen and (max-width: 767px) {

}



/* footer */
footer {
  background-color: #ffffff;
  min-height: 41px;
  font-family: 'Inter';
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.68px;
  color: #717272;
}

footer img {
  width: 14.4px;
  /* height: 14.4px; */
}

.footer-div {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer a,
footer p{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 139%;
  
  color: #717272;
}
footer .pages {
  display: flex;
}
footer .pages a{
  font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #717272;
padding-left: 8px;
margin-left: 8px;
position: relative;
}
footer .pages a::before{
  content: "";
  display: block;
  width: 1px;
  height: 16px;
  background: #717272;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 1000px) {
  footer{
    flex-direction: column;
  }
}
@media screen and (max-width: 576px) {
  .footer-div2{
    flex-direction: column;
  }
  footer .pages a{
    padding-left: 4px;
    margin-left: 4px;
  }
  footer .pages a:nth-of-type(1){
    padding-left: 0;
    margin-left: 0;
  }
  footer .pages a:nth-of-type(1)::before{
    display: none;
    padding: 12px 16px;
  }
}